.container {
  padding: 2em;
  margin: 0 auto;
  max-width: 920px;
}

header {
  padding: 0;
  margin: 0;

  h1 {
    padding: 0;
    margin: 0 0 1em 0;
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
  }
}

main {
  padding: 0;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

footer {
  padding: 0;
  margin: 2em 0 0 0;

  p {
    padding: 0;
    margin: 0;
    font-size: 0.75em;
    color: #BBBBBB;
  }
}
