label {
  display: block;
  padding: 0;
  margin: 0 0 1em 0;
  font-size: 1.125em;
  font-family: 'Permanent Marker', cursive;
}

textarea {
  padding: 1em 1em 1em 2em;
  margin: 0 0 0.75em 0;
  color: #222222;
  resize: none;
  font-family: Courier, monospace;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 2em;
  width: 100%;
  height: 50vh;
  background-color: #FFFFFF;
  background-image: url('/assets/lines.png'), url('/assets/paper.png');
  background-repeat: repeat-y, repeat;
  background-position-x: -3em;
  background-position-y: 1em;
  border-radius: 0.5em;
  box-sizing: border-box;
  box-shadow: 0 2px 1em #000000;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;

  @media screen and (min-width: 769px) {
    background-position-x: 0;
    padding-left: 6em;
  }
}

button {
  cursor: pointer;
  padding: 0.25em 1em;
  margin: 0 0 1em 0;
  font-family: "Permanent Marker", cursive;
  font-size: 1.25em;
  color: #FFFFFF;
  text-shadow: 0px -1px 0px #000000;
  border-radius: 0.5em;
  border-top: 1px solid #FFFFFF;
  box-shadow: 0 2px 14px #000000;
  background: #62ADD6 linear-gradient(0, #3D7CAC 0%, #62ADD6 100%);

  &:active,
  &:hover,
  &:focus {
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  &[disabled] {
    opacity: 0.8;
    cursor: no-drop;
  }
}
